<footer class="footer">
	<small>
		<%= link_to image_tag("tsslogo.jpg", alt: "TrustScan"), 'http://www.trustscan-solutions.com' %>
		<h6>06102012105200</h6>
	</small>
	<nav>
  		<ul class="nav pull-right">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "News", '#' %></li>
        </ul>
	</nav>
</footer>